.app {
    background-color: lightgray;
    min-height: 100vh;
    padding: 5%;
}

.app__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 100%;
    background-color: white;
    padding: 2rem;
}

.app__body > h1 {
    margin-bottom: 1rem;
}
